@{
    ViewData["Title"] = "Index";
}

<div class="contenedor">
    <div class="Bienvenida">
        <p>Bienvenidos al sitio web de OrtWorld</p>
        <a href='@Url.Action("SelectPaquete")' class="link">Crear Paquete</a>
    </div>

    
    @if (ViewBag.DiccionarioPaquetes != null && ((IDictionary<string, Paquete>)ViewBag.DiccionarioPaquetes).Count > 0)
    {
         <h2>Paquetes disponibles:</h2>
        foreach (KeyValuePair<string, Paquete> item in (IDictionary<string, Paquete>)ViewBag.DiccionarioPaquetes)
        {
            string destino = item.Key;
            Paquete paquete = item.Value;
            <div class="paquete">
                <h3>@destino</h3>
                <ul>
                    <li>Hotel: <img src="~/img/@paquete.Hotel"></li>
                    <li>Aereo: <img src="~/img/@paquete.Aereo"></li>
                    <li>Excursion: <img src="~/img/@paquete.Excursion"></li>
                </ul>
            </div>
        }
    }
</div>
